{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

{#    {% if session.use %}#}
        <page data-title="dashboard-menu">

            <div class="container">
                <h1 class="my-1">Dashboard - Menu</h1>
                <div class="my-1">Hello {{ session.use }}.</div>
                <div class="my-1">Last Login:</div>
                <div class="row d-flex justify-content-center my-2">

                    {% include "common/partial/_dashboard_menu.html.twig" %}

                    <div class="col border rounded-3 bg-dark text-light py-3 mx-2">
                        <div class="row px-3">
                            <div class="d-flex justify-content-between mb-3">
                                <h4>Menu Items</h4>
                                <a href="/dashboard/menu/add" class="btn btn-secondary text-light">Add Item <i class="fa-solid fa-circle-plus"></i></a>
                            </div>


                            {% for dish in viewMenuItems %}
                            <div class="border border-light rounded-3 mb-4">
                                <form>
                                    <div class="mb-3">
                                        <label for="header-heading" class="form-label">Item</label>
                                        <input type="text" class="form-control" id="header-heading" value="{{ dish.menuItem }}">
                                    </div>
                                </form>
                                <div>
                                    <p>Last Updated: {{ dish.updatedAt|date("d-m-Y H:i:s", "Europe/Paris") }}</p>
                                </div>
                                <div class="mb-3 d-flex justify-content-between">
                                    <a href="/dashboard/menu/{{ dish.id }}" class="btn btn-success" id="headerSubmit">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="btn btn-danger" id="headerSubmit">Delete <i class="fa-solid fa-trash-can"></i></a>
                                </div>
                                <div id="headerMessageResult"></div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </page>
{#    {% else %}#}
{#        <div class="container mt-5 vh-100">#}
{#            This page is only accessible by administrator. Please log in <a class="text-black" href="/admin-login">here</a> first.#}
{#        </div>#}
{#    {% endif %}#}

{% endblock %}