{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% if session.use %}
        <h1>HELLOOOOOOOOOO THIS IS DASHBOARD</h1>
        <page data-title="dashboard">
            <div class="container-fluid vh-100">
                <div class="row">
                    <div class="col-3">
                        <div>Homepage</div>
                        <div>Reservation</div>
                        <div>User</div>
                        <div><a id="adminLogout" class="btn btn-primary">Logout</a></div>
                    </div>
                    <div class="col-9">
                        hello {{ session.use }}
                    </div>
                </div>
            </div>
        </page>
    {% else %}
        <div class="container mt-5 vh-100">
            This page is only accessible by administrator. Please log in first.
        </div>
    {% endif %}

{% endblock %}