<div class="col-2 d-flex flex-column justify-content-between border rounded-3 bg-dark text-light py-3 mx-2">
    <div>
        <a href="/dashboard/" class="dashboard-menu-btn btn btn-outline-light text-start mb-3 w-100">Homepage</a>
        <a href="/dashboard/menu" class="dashboard-menu-btn btn btn-outline-light text-start mb-3 w-100">Restaurant's Menu</a>
        <a href="/dashboard/reservation" class="dashboard-menu-btn btn btn-outline-light text-start mb-3 w-100">Reservation</a>
        <a href="/dashboard/message" class="dashboard-menu-btn btn btn-outline-light text-start mb-3 w-100">Message</a>
        <a class="dashboard-menu-btn btn btn-outline-light text-start mb-3 w-100">User Profile</a>
    </div>
    <div>
        <a id="adminLogout" class="btn btn-outline-light w-100">Logout</a>
    </div>
</div>