<!--footer-->
<footer id="footer-section">
    <div class="container pt-5 pb-2">

        {% if thisRoute == "/" %}
        <div class="row">
            <div class="col">
                <h2 class="text-center">Contact Us</h2>
                <form>
                    <div class="row">
                        <div class="col-6 py-sm-3 d-flex flex-column justify-content-center">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Name" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email Address" required>
                            </div>
                            <div class="mb-3">
                                <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Phone No." required>
                            </div>
                        </div>
                        <div class="col-6 py-sm-3 d-flex flex-column justify-content-center">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="contactSubject" name="contactSubject" placeholder="Subject">
                            </div>
                            <div class="mb-3">
                                <textarea rows="3" type="text" class="form-control" id="contactMessage" name="contactMessage" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center mb-sm-5" id="contactMessageResult">
                    <button class="btn btn-outline-light" id="contactSubmit" name="contactSubmit">Submit</button>
                </div>
            </div>
            <div class="col d-flex flex-column justify-content-center">
                <div class="mx-auto map-box">
                    <img src="assets/images/screenshot_map.png" class="map-img mb-3" alt="map-image">
                    <p>Address: 9 Noodle Street, Noodle City 63000</p>
                    <p><a href="tel: 123-456-7890">Phone: 12.34.56.78.90</a></p>
                    <p><a href="mailto: noodles@mail.com">Email: noodles@mail.com</a></p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row text-center">
            <div>
                <a href="/info"><i class="social-logo fab fa-twitter"></i></a>
                <a href="/info"><i class="social-logo fab fa-facebook-f"></i></a>
                <a href="/info"><i class="social-logo fab fa-instagram"></i></a>
            </div>
            <div>
                <p class="copyright-text">
                    <a href="/terms-conditions">Terms and Conditions</a> | <a href="/privacy-policy">Privacy Policy</a>
                </p>
                <p class="copyright-text">
                    © {{ thisYear }} <a href="/">The House of Noodles</a> | <a href="https://github.com/ahidayati">developed by ahidayati</a> | All rights reserved.
                </p>
            </div>
        </div>
        <a href="/admin-login" class="admin-connection-text">Admin Connection</a>
    </div>
</footer>