<!--footer-->
<footer id="footer-section">
    <div class="container pt-5 pb-2">

        {% if (thisRoute == "/") or (thisRoute == "/info") %}
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <h2 class="text-center">Contact Us</h2>
                <form id="contactForm">
                    <div class="row">
                        <div class="col-6 py-3 d-flex flex-column">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="contactName" name="contactName" placeholder="Name" required>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Email Address" required>
                            </div>
                            <div class="mb-3">
                                <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Phone No." required>
                            </div>
                        </div>
                        <div class="col-6 pt-3 d-flex flex-column">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="contactSubject" name="contactSubject" placeholder="Subject">
                            </div>
                            <div class="mb-3">
                                <textarea rows="3" type="text" class="form-control" id="contactMessage" name="contactMessage" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-center mb-sm-5">
                    <button class="btn btn-outline-light mb-2" id="contactSubmit" name="contactSubmit">Submit</button>
                    <div id="contactMessageResult"></div>
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-center my-5 my-lg-0">
                <div class="mx-auto map-box">
                    {#<img src="assets/images/screenshot_map.png" class="map-img mb-3" alt="map-image">#}
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.5800402526934!2d3.1293664158367576!3d45.759564579105664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71c45a4dac12b%3A0x7e043ce074dc12e1!2sP%C3%A9pini%C3%A8re%20et%20H%C3%B4tel%20d&#39;Entreprises%20Pascalis%20-%20Clermont%20Auvergne%20M%C3%A9tropole!5e0!3m2!1sen!2sfr!4v1650457560345!5m2!1sen!2sfr"
                                width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <p><a href="https://goo.gl/maps/rKppghtd9nzmev6cA" target="_blank">Address: 9 Noodle Street, Noodle City 63000</a></p>
                    <p><a href="tel: 123-456-7890">Phone: 12.34.56.78.90</a></p>
                    <p><a href="mailto: noodles@mail.com">Email: noodles@mail.com</a></p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row text-center">
            <div>
                <a href="/info"><i class="social-logo fab fa-twitter"></i></a>
                <a href="/info"><i class="social-logo fab fa-facebook-f"></i></a>
                <a href="/info"><i class="social-logo fab fa-instagram"></i></a>
            </div>
            <div>
                <p class="copyright-text">
                    <a href="/terms-conditions">Terms and Conditions</a> | <a href="/privacy-policy">Privacy Policy</a>
                </p>
                <p class="copyright-text">
                    © {{ thisYear }} <a href="/">The House of Noodles</a> | <a href="https://github.com/ahidayati" target="_blank">developed by ahidayati</a> | All rights reserved.
                </p>
            </div>
        </div>
        {% if thisRoute != "/admin-login" %}
        <a href="/admin-login" target="_blank" class="admin-connection-text">Admin Connection</a>
        {% endif %}
    </div>
</footer>