{% extends "base.html.twig" %}

{% block title %}Information{% endblock %}

{% block body %}
    <div class="container my-lg-5">
        <h3>Hello!</h3>
        <p>This website is under construction and this restaurant does not exist (yet).</p>
        <p>However, if you need a website for your restaurant you can contact the developer of this website <a href="mailto: hidayati.ann@gmail.com">by mail</a>.</p>
        <p>For another example of her projects you can look at her <a href="https://github.com/ahidayati">GitHub page</a>.</p>

    </div>
{% endblock %}