<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block Title %}The House of Noodles{% endblock %}</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    {#google font#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {#font-awesome stylesheet#}
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

    {#css stylesheet#}
    <link rel="stylesheet" href="/assets/public/css/main.css">

</head>
<body>
    {% block header %}
        {% include "common/partial/_header.html.twig" %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
        {% include "common/partial/_footer.html.twig" %}
    {% endblock %}

    {#cookies consent#}
    {#<script type="text/javascript"
            src="//www.shift4shop.com/lp/cookie-law-generator/cookie.js?skin=cookielaw4&amp;box_radius=21&amp;learnmore=&amp;accept_radius=10&amp;bg_color=ffffff&amp;msg_color=000000&amp;accept_background=000000&amp;accept_color=ffffff&amp;msg=We%20use%20cookies%20to%20understand%20how%20you%20use%20our%20site%20and%20to%20improve%20your%20experience.%20This%20includes%20personalizing%20content%20and%20advertising.%20To%20learn%20more%2C%20%5Burl%3D%2Fprivacy-policy%5Dclick%20here%5B%2Furl%5D.%20By%20continuing%20to%20use%20our%20site%2C%20you%20accept%20our%20use%20of%20cookies%2C%20revised%20%5Burl%3D%2Fprivacy-policy%5DPrivacy%20Policy%5B%2Furl%5D%20and%20%5Burl%3D%2Fterms-conditions%5DTerms%20of%20Use%5B%2Furl%5D.&amp;link_color=2b2a2a"></script>#}

{#use this one for cookies consent #}
{#    <!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->#}
{#    <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js"#}
{#            charset="UTF-8"></script>#}
{#    <script type="text/javascript" charset="UTF-8">#}
{#        document.addEventListener('DOMContentLoaded', function () {#}
{#            cookieconsent.run({#}
{#                "notice_banner_type": "interstitial",#}
{#                "consent_type": "express",#}
{#                "palette": "light",#}
{#                "language": "en",#}
{#                "page_load_consent_levels": ["strictly-necessary"],#}
{#                "notice_banner_reject_button_hide": false,#}
{#                "preferences_center_close_button_hide": false,#}
{#                "page_refresh_confirmation_buttons": false,#}
{#                "website_privacy_policy_url": "/privacy-policy"#}
{#            });#}
{#        });#}
{#    </script>#}
{#    <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/" rel="nofollow noopener">Free Privacy Policy#}
{#            Generator website</a></noscript>#}
{#    <!-- End Cookie Consent -->#}

    {# script compilation #}
    <script src="/assets/public/js/main.js"></script>
    {#jquery script#}
    {#<script src="../node_modules/jquery/dist/jquery.js"></script>#}
    {#bootstrap script#}
    {#<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#javascript#}
    {#<script src="../assets/js/main.js"></script>#}
</body>
</html>