<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block Title %}The House of Noodles{% endblock %}</title>

    {#google font#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {#font-awesome stylesheet#}
    <link href="../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

    {#css stylesheet#}
    <link rel="stylesheet" href="/assets/public/css/main.css">

</head>
<body>
    {% block header %}
        {% include "common/partial/_header.html.twig" %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}
        {% include "common/partial/_footer.html.twig" %}
    {% endblock %}

    {#script compilation#}
    <script src="../assets/public/js/main.js"></script>
    {#jquery script#}
    {#<script src="../node_modules/jquery/dist/jquery.js"></script>#}
    {#bootstrap script#}
    {#<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>#}
    {#javascript#}
    {#<script src="../assets/js/main.js"></script>#}
</body>
</html>