{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container px-5 py-5">
        <div class="px-5 py-5 text-center">
            <h2 class="text-danger">404 ERROR PAGE</h2>
            <p>Sorry, the page can't be found.</p>
            <img src="assets/images/pusheen.png" alt="404-img">
            <p>Here's a picture of Pusheen eating ramen.</p>
        </div>
    </div>
{% endblock %}